app/assets/scss/.sass-cache
app/system/vendor
app/system/music
app/system/temp
app/system/img
app/system/composer.lock
app/system/db/monitoring.json
app/system/db/firewall.json
app/system/db/hashes.json
mysql/mysqldata