@font-face {
  font-family: "Roboto Regular";
  src: url("../fonts/Roboto/Roboto-Regular.ttf") format("truetype");
}

input:not([type="range"]) {
  transition: 0.2s;
  box-shadow: inset 2px 2px 5px #babecc, inset -5px -5px 7px #fff;
  border: none;
  border-radius: 15px;
  padding: 12px 16px;
  background-color: #f5f5f5;
  text-shadow: 1px 1px 0 #fff;
  outline: none;
  text-align: left !important;

  font-family: "Roboto Regular", sans-serif;

  &:focus {
    box-shadow:  inset 1px 1px 2px #babecc, inset -1px -1px 2px #fff;
  }
}

body {
  background-color: #f5f5f5;
}

#navbar {
  border-bottom: 1px solid #e6e6e6;

  padding: 0 30px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;

  height: 60px;
  line-height: 60px;

  background-color: #f5f5f5;
  color: #171717;

  user-select: none;
  font-family: "Roboto Regular", sans-serif;
  transition: 0.2s;

  * {
    display: inline;
    text-align: center;
    vertical-align: middle;
  }

  li {
    margin: 0 5px;
  }

  a {
    cursor: pointer;
    padding: 10px 15px;
  }

  #logo {
    font-size: 30px;
    margin: 0 20px;
    cursor: default;
  }

  #navbar-toggler, #theme-toggler {
    box-shadow: -2px -2px 4px #efefef, 2px 2px 4px #dedede;
    border-radius: 25px;
    transition: 0.2s;

    &:hover {
      box-shadow: -2px -2px 5px #efefef, 2px 2px 5px #dedede;
    }

    &:active {
      box-shadow:  inset 1px 1px 2px #dedede, inset -1px -1px 2px #efefef;
    }
  }

  #navbar-toggler {
    display: none;
    cursor: pointer;
    padding: 10px 15px;
    margin: 0 20px 0 0;
  }

  #theme-toggler {
    margin: 0 30px 0 0;
    padding: 10px 15px;
    cursor: pointer;
    display: initial;
  }

  &.shadow {
    box-shadow: 0 3px 6px #d6d6d6
  }

  .right {
    float: right;
    padding: 0;
    margin: 0;
  }
}

#content {
  box-shadow: 3px 3px 5px #dedede, -3px -3px 5px #efefef;
  border-radius: 15px;

  padding: 20px 40px 40px 40px;
  top: 80px;
  margin: 0 auto 20px auto;

  width: 85%;

  font-family: "Roboto Regular", sans-serif;
  background-color: #f5f5f5;

  position: relative;
  overflow-y: auto;

  #view {
    position: absolute;
    right: 50px;

    border: 1px solid #d9d9d9;
    border-radius: 5px;

    padding: 2px 2px 0 2px;

    * {
      cursor: pointer;
      padding: 5px 15px;
    }

    *.active {
      background-color: #e2e2e2;
      border-radius: 2px;
    }
  }

  .info {
    margin: 30px 0 0 0;
  }

  .searchterm {
    margin: 35px 0 -20px 0;
  }

  .listView {
    margin: 35px 0 0 0;

    img {
      border-radius: 5px;
      width: 35px;
      height: 35px;
      margin: 6px 0 0 0;
    }
  }

  .controls {
    position: fixed;
    display: none;

    height: 38px;
    width: 98px;

    line-height: 40px;

    text-align: center;

    border-top-right-radius: 5px;
    background-color: #f5f5f5;

    * {
      padding: 10px;
      cursor: pointer;
      margin: 0 2px;
    }

    .listAdd {
      position: relative;
      display: initial;

      padding: 0;

      .fa-plus {
        background-color: #f5f5f5;

        padding: 0 !important;

        position: absolute;
        font-size: 10px;
        margin: 14px 0 0 -15px;
        z-index: 1;
      }
    }
  }
}

#player {
  display: none;
  position: fixed;

  bottom: 0;
  left: 0;

  width: 100%;
  height: 100px;

  line-height: 100px;
  text-align: center;

  background-color: #f5f5f5;
  font-family: "Roboto Regular", sans-serif;

  #timeline {
    transition: 0.25s;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    margin: -1px 0 0 0;
    width: 100%;
    border: none;
    appearance: none;
    -webkit-appearance: none;
    height: 5px;
    overflow: hidden;
  }

  #tooltip {
    display: none;

    position: fixed;
    width: 120px;
    line-height: 30px;

    top: calc(100% - 150px);
    left: calc(50% - 60px);

    border-radius: 10px;
    background-color: #f5f5f5;
    border: 1px solid #e0e0e0;

    //box-shadow: 2px 2px 3px #dedede, -2px -2px 3px #efefef;
  }

  ::-webkit-slider-runnable-track {
    background: #ddd;
  }

  ::-webkit-slider-thumb {
    cursor: pointer;
    -webkit-appearance: none;
    width: 20px;
    height: 40px;
    background: #fff;
    box-shadow: -100vw 0 0 100vw #1d93ff;
  }

  ::-moz-range-track {
    height: 40px;
    background: #ddd;
  }

  ::-moz-range-thumb {
    cursor: pointer;
    background: #fff;
    height: 40px;
    width: 20px;
    border: 3px solid #999;
    border-radius: 0 !important;
    box-shadow: -100vw 0 0 100vw #1d93ff;
    box-sizing: border-box;
  }

  ::-ms-fill-lower {
    background: #1d93ff;
  }

  ::-ms-thumb {
    cursor: pointer;
    background: #fff;
    height: 40px;
    width: 20px;
    box-sizing: border-box;
  }

  ::-ms-ticks-after {
    display: none;
  }

  ::-ms-ticks-before {
    display: none;
  }

  ::-ms-track {
    background: #ddd;
    color: transparent;
    height: 40px;
    border: none;
  }

  ::-ms-tooltip {
    display: none;
  }

  #data {
    height: 75px;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    line-height: 20px;
  }

  svg {
    padding: 15px 20px;
    cursor: pointer;
    margin: 0 15px;
  }

  #controls {
    user-select: none;
  }
}

#player.show {
  display: initial;
}

.songGrid {

  h2 {
    margin: 5px 0 5px 0;
  }

  h2:first-of-type {
    margin: 30px 0 5px 0
  }

  .songCategory {
    display: flex;
    flex-wrap: wrap;

    div {
      position: relative;
      margin: 0 20px 55px 0;

      span {
        max-width: 156px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      .name {
        position: absolute;
        top: 163px;
        left: 2px;

        font-size: 15px;
      }

      .artist {
        position: absolute;
        top: 183px;
        left: 2px;

        font-size: 13px;

        color: #444444;
      }

      .length {
        transition: 0.2s;
        position: absolute;
        opacity: 0;
        top: 133px;
        right: 10px;

        color: #cccccc;
      }

      img {
        transition: 0.2s;
        max-width: 160px;

        border-radius: 5px;
      }

      img:hover {
        filter: brightness(50%);
      }

      img:hover ~ .length {
        opacity: 1;
      }
    }
  }
}

.songList {
  width: 100%;
  box-shadow: -1px -1px 4px #efefef, 1px 1px 4px #dedede;

  border-radius: 10px;
  border-spacing: 0;

  thead {
    text-align: left;
    box-shadow: -1px -1px 4px #efefef, 1px 1px 4px #dedede;

    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

    th {
      font-weight: initial;

      height: 50px;
      padding: 0 10px;
    }
  }

  tbody {
    td {
      color: #4b4b4b;
      padding: 0 10px;
      height: 40px;
    }

    td:last-of-type {
      svg {
        padding: 10px;
        margin: 0 20px;
      }

      svg:first-of-type {
        margin: 0 20px 0 0
      }

      .listAdd {
        svg {
          padding: 10px 0;
        }
      }
    }

    tr:not([data-id]) {
      font-weight: bold;
    }

    tr:last-of-type {
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
    }

    tr[data-id]:hover {
      cursor: pointer;
      transition: 0.1s;
      box-shadow: -2px -2px 4px #efefef, 2px 2px 4px #dedede;
    }
  }
}

.blockquote {
  position: relative;
  padding: 0 0 0 10px;

  border-left: 4px solid rgba(137, 161, 255, 0.16);
  border-radius: 7px;

  h2 {
    margin: 0.83em 0 10px 0;
  }

  .authorDate {
    position: absolute;
    right: 0;
    bottom: 0;

    color: #b7b6b6;
  }

  .message {
    color: #5b5b5b;
    max-width: calc(100% - 275px);
    display: block;

    .mail {
      text-decoration: none;
      color: #1d93ff;
    }
  }

  .details {
    transition: 0.3s ease-in-out, padding 0.7s ease-in-out;

    color: #6b6b6b;

    display: block;
    overflow: hidden;
    max-height: 0;

    box-shadow: inset 2px 2px 5px #babecc, inset -5px -5px 7px #fff;
    border-radius: 5px;

    margin: 0;
    padding: 0 20px;
  }

  .details.show {
    padding: 20px;
    margin: 20px 0 0 0;
    max-height: 1000px;
  }

  .detailsButton {
    transition: 0.3s;

    margin: 10px 0 0 0;
    padding: 7px;

    background-color: transparent;
    border: none;
    color: #8eb6ff;
    font-size: 15px;
    cursor: pointer;
  }

  .detailsButton:hover {
    color: #4f8eff;
  }
}

.divider {
  border-top: 1px solid #eaeaea;

  display: block;
  width: 100%;
  margin: 10px 0;
}

@media screen and (max-width: 1150px) {
  #navbar {
    li {
      display: block;
      text-align: left;
    }

    ul {
      margin: 0;
      box-shadow: 0 3px 6px #d6d6d6;
      background-color: #f5f5f5;
      display: block;
      left: 0;
      width: 100%;
      padding: 0;
    }

    a {
      line-height: 30px;
      height: 30px;
      display: block;
      text-align: left;
    }

    #navbar-toggler {
      display: initial;
    }

    #navigation {
      transition: 0.5s ease-in-out;
      display: block;
      overflow: hidden;
      position: absolute;
      left: 0;
      max-height: 0;
      width: 100%;
    }

    #navigation.show {
      max-height: 1000px;
      padding-bottom: 10px;
    }

    #logo {
      margin-left: calc(50% - 170px);
    }

    .permanent {
      position: fixed;
      display: initial;
      top: 0;
      right: 0;
      background-color: initial;
      width: auto;
      left: auto;
      box-shadow: initial;
    }
  }

  #content {
    width: initial;
  }
}

@media screen and (min-width: 850px) {
  #player {
    #timeline:hover {
      height: 15px;
    }
  }
}

@media screen and (max-width: 850px) {
  .songGrid {
    h2 {
      margin: 5px 0 5px 5px;
    }

    h2:first-of-type {
      margin: 30px 0 5px 5px;
    }

    .songCategory {
      justify-content: space-between;

      div {
        margin: 0 5px 55px 5px;
      }
    }
  }

  #player {
    #timeline {
      height: 15px;
    }
  }

  .blockquote {
    .message {
      max-width: 100%;
    }

    .authorDate {
      margin: 10px 0 0 0;
      position: initial;
    }
  }
}

@media screen and (max-width: 650px) {
  #content {
    padding: 20px 10px 40px 10px;

    #view {
      right: 15px;
    }
  }

  #player {
    svg {
      padding: 15px 15px;
      margin: 0 5px;
    }
  }
}

@media screen and (max-width: 420px) {
  #player {
    svg {
      padding: 15px 10px;
      margin: 0 5px;
    }
  }
}