@font-face {
  font-family: "Roboto Regular";
  src: url("../fonts/Roboto/Roboto-Regular.ttf") format("truetype");
}

input {
  transition: 0.2s;
  box-shadow: inset 2px 2px 5px #babecc, inset -5px -5px 7px #fff;
  border: none;
  border-radius: 15px;
  padding: 12px 16px;
  background-color: #f5f5f5;
  text-shadow: 1px 1px 0 #fff;
  outline: none;
  text-align: left !important;

  font-family: "Roboto Regular", sans-serif;

  &:focus {
    box-shadow:  inset 1px 1px 2px #babecc, inset -1px -1px 2px #fff;
  }
}

body {
  background-color: #f5f5f5;
}

#navbar {
  border-bottom: 1px solid #e6e6e6;

  padding: 0 30px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;

  height: 60px;
  line-height: 60px;

  background-color: #f5f5f5;
  color: #171717;

  user-select: none;
  font-family: "Roboto Regular", sans-serif;
  transition: 0.2s;

  * {
    display: inline;
    text-align: center;
    vertical-align: middle;
  }

  li {
    margin: 0 5px;
  }

  a {
    cursor: pointer;
    padding: 10px 15px;
  }

  #logo {
    font-size: 30px;
    margin: 0 20px;
    cursor: default;
  }

  #navbar-toggler, #theme-toggler {
    box-shadow: -2px -2px 4px #efefef, 2px 2px 4px #dedede;
    border-radius: 25px;
    transition: 0.2s;

    &:hover {
      box-shadow: -2px -2px 5px #efefef, 2px 2px 5px #dedede;
    }

    &:active {
      box-shadow:  inset 1px 1px 2px #dedede, inset -1px -1px 2px #efefef;
    }
  }

  #navbar-toggler {
    display: none;
    cursor: pointer;
    padding: 10px 15px;
    margin: 0 20px 0 0;
  }

  #theme-toggler {
    padding: 10px 15px;
    cursor: pointer;
    display: initial;
  }

  &.shadow {
    box-shadow: 0 3px 6px #d6d6d6
  }

  .right {
    float: right;
    padding: 0;
    margin: 0;
  }
}

#content {
  box-shadow: 3px 3px 5px #dedede, -3px -3px 5px #efefef;
  border-radius: 15px;

  padding: 20px 40px 40px 40px;
  top: 80px;
  margin: 80px auto 20px auto;

  width: 85%;

  font-family: "Roboto Regular", sans-serif;
  background-color: #f5f5f5;
}

.blockquote {
  position: relative;
  padding: 0 0 0 10px;

  border-left: 4px solid rgba(137, 161, 255, 0.16);
  border-radius: 7px;

  h2 {
    margin: 0.83em 0 10px 0;
  }

  .authorDate {
    position: absolute;
    right: 0;
    bottom: 0;

    color: #b7b6b6;
  }

  .message {
    color: #5b5b5b;
    max-width: calc(100% - 275px);
    display: block;

    .mail {
      text-decoration: none;
      color: #1d93ff;
    }
  }

  .details {
    transition: 0.3s ease-in-out, padding 0.7s ease-in-out;

    color: #6b6b6b;

    display: block;
    overflow: hidden;
    max-height: 0;

    box-shadow: inset 2px 2px 5px #babecc, inset -5px -5px 7px #fff;
    border-radius: 5px;

    margin: 0;
    padding: 0 20px;
  }

  .details.show {
    padding: 20px;
    margin: 20px 0 0 0;
    max-height: 1000px;
  }

  .detailsButton {
    transition: 0.3s;

    margin: 10px 0 0 0;
    padding: 7px;

    background-color: transparent;
    border: none;
    color: #8eb6ff;
    font-size: 15px;
    cursor: pointer;
  }

  .detailsButton:hover {
    color: #4f8eff;
  }
}

.divider {
  border-top: 1px solid #eaeaea;

  display: block;
  width: 100%;
  margin: 10px 0;
}

@media screen and (max-width: 850px) {
  .blockquote {
    .message {
      max-width: 100%;
    }

    .authorDate {
      margin: 10px 0 0 0;
      position: initial;
    }
  }
}

@media screen and (max-width: 1150px) {
  #navbar {
    li {
      display: block;
      text-align: left;
    }

    ul {
      margin: 0;
      box-shadow: 0 3px 6px #d6d6d6;
      background-color: #f5f5f5;
      display: block;
      left: 0;
      width: 100%;
      padding: 0;
    }

    a {
      line-height: 30px;
      height: 30px;
      display: block;
      text-align: left;
    }

    #navbar-toggler {
      display: initial;
    }

    #navigation {
      transition: 0.5s ease-in-out;
      display: block;
      overflow: hidden;
      position: absolute;
      left: 0;
      max-height: 0;
      width: 100%;
    }

    #navigation.show {
      max-height: 1000px;
      padding-bottom: 10px;
    }

    #logo {
      margin-left: calc(50% - 165px);
    }

    .permanent {
      position: fixed;
      display: initial;
      top: 0;
      right: 0;
      background-color: initial;
      width: auto;
      left: auto;
      box-shadow: initial;
    }
  }

  #content {
    width: initial;
  }
}